@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgba: 0, 0, 0;
  --background-rgba: 255, 255, 255, 0.87;
}

body {
  color: rgba(var(--foreground-rgba));
  background: rgba(var(--background-rgba));
}
